In [1]:
import pandas as pd
import numpy as np
import geopandas

ModuleNotFoundError: No module named 'geopandas'

In [3]:
#: Our example dataset from seaborn, without loading the seaborn package.
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Selecting Data

`df[]` is overloaded and will do different things depending on what you pass to it:
1. **string**: returns all rows in the indicated **column** as a series
2. **list of strings**: returns all rows the indicated **columns** as a single data frame. General case of #1, except returns dataframe instead of series
3. **python-esque slices**: select **rows** (either by label or by index) (needs better example dataset)
4. **sequence of booleans**: all *rows* whose index matches the sequence index of a true value. This is where magic happens, because we can put conditional statements as the boolean sequence. The condition is evaluated on each row in the given column, and the resulting true/false value is passed to the indexing operator `[]` to select specific rows. 
   *The length of the sequence must match the number of rows in the dataframe.*

In [4]:
#: Single string
iris['petal_length'].head(5)

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal_length, dtype: float64

In [5]:
#: List of strings
iris[['petal_length', 'petal_width']].head(5)

   petal_length  petal_width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2
4           1.4          0.2

In [6]:
#: Slicing
iris[3:5]

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
#: Sequence of booleans
iris_head = iris.head(5)
sequence = ([True, False, True, False, True])
iris_head[sequence]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
#: Conditional as sequence of booleans
#: First, we build our sequence using [] as column/series selector
series_to_test = iris_head['sepal_length']
series_to_test

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [9]:
#: Then we evaluate the condition on that series:
test = series_to_test > 4.8
test

0     True
1     True
2    False
3    False
4     True
Name: sepal_length, dtype: bool

In [10]:
#: Finally, we apply the boolean series to the [] as a sequence of booleans 
iris_head[test]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
#: Or, in one line:
iris_head[iris_head['sepal_length'] > 4.8]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
#: Doing compound conditionals requires parens to separate conditionals and &, |, ~ operators:
iris_head[(iris_head['sepal_length'] > 4.8) & (iris_head['sepal_width'] > 3.4)]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
#: Select all except certain values
iris[~iris['species'].isin(['setosa', 'virginica'])]
#: isin() can take other collections, like standalone series or series from other dataframs
other_values = pd.Series(['setosa', 'virginica'])
iris[~iris['species'].isin(other_values)]

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

# Grouping with groupby()

We can use the `.groupby()` method on a dataframe to divide it into specific groups and then run a function on each of those groups. This is a great way to get quick descriptive statistics about different groups within your dataset.

The simplest use of `.groupby()` is to pass a label or list of labels to define a series you want to group by. It then segregates your data based on the unique values within that series and runs whatever function you call afterwards on those groups.

In [14]:
#: groupby: specify a grouping, optionally select series using [], then return results of function based on this grouping
iris.groupby('species')['sepal_length'].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [15]:
#: Normal- passing label from same dataframe to determine groups
print(iris.groupby('species')['sepal_length'].count())
#: Does not work- tries to align values in other_values (?), only returns two rows
print(iris.groupby(other_values)['sepal_length'].count())
#: Works- We're explicitely passing the species series from the iris dataframe. Same output, different method of specifying groups.
print(iris.groupby(iris['species'])['sepal_length'].count())

species
setosa        50
versicolor    50
virginica     50
Name: sepal_length, dtype: int64
setosa       1
virginica    1
Name: sepal_length, dtype: int64
species
setosa        50
versicolor    50
virginica     50
Name: sepal_length, dtype: int64

# Selecting a Single Cell/Value

Sometimes you want to be able to access a single cell or value. If you have good labels, the `.loc[]` method allows you to access specific rows, columns, or cells: `df.loc['row', 'col']`

If you are thinking of a dataframe like a fancy 2D list, you may be tempted to used "chained assignment" operators: `df['row']['column']`. However, this is evaluated as two seperate, chained commands: first, `df['row']` returns the row from the dataframe, and then `[column]` returns the column from the row. pandas makes no guarantee about the first operation—`df[row]`—returning a view of the original data or a copy. This may not matter for a one-off read operation, but will give inconsistent results when trying to write to the value. If the second operation got a copy, the copy will be updated and then thrown away while the original remains untouched.

If you want to assign values, use the `df.loc['row', 'col']` syntax.

In [16]:
#: Selecting single values for reading or writing

#: print the second row
print(iris[1:2])

#: BAD: Chained assignment
iris.loc[1]['sepal_length'] = 20
#: iris.loc[1] returns an object, no guarantee if it's a view or copy, and then __getitem__ is called on this for 'sepal_length'
#: When we try to look at this value again, maybe it will be set to 20, and maybe not
print(iris[1:2])

#: Good: 
iris.loc[1, 'sepal_length'] = 40
print(iris[1:2])

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
   sepal_length  sepal_width  petal_length  petal_width species
1          40.0          3.0           1.4          0.2  setosa

C:\Users\jdadams\AppData\Local\Continuum\miniconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [17]:
#: pandas is not like normal python, where you use chained assignment to access nested lists
foo = [['a', 'b', 'c'], ['d', 'e', 'f']]
print(foo)
foo[0][0] = 'z'
print(foo)

[['a', 'b', 'c'], ['d', 'e', 'f']]
[['z', 'b', 'c'], ['d', 'e', 'f']]

# Boolean checks for NAs (and, or, etc)

In [3]:
test_df = pd.DataFrame({
    'foo': [1, None, 3, None],
    'bar': [4, 1, None, None],
})
test_df

   foo  bar
0  1.0  4.0
1  NaN  1.0
2  3.0  NaN
3  NaN  NaN

## AND: only include rows where both are NA

In [11]:
#: AND- return true if both are real (not null)
test_df.isna().all(axis=1)

0    False
1    False
2    False
3     True
dtype: bool

In [12]:
test_df[test_df.isna().all(axis=1)]

   foo  bar
3  NaN  NaN

In [16]:
#: Invert- if both are not na
test_df[test_df.notna().all(axis=1)]

   foo  bar
0  1.0  4.0

## OR: only include rows where any (or both) are NA

In [14]:
test_df[test_df.isna().any(axis=1)]

   foo  bar
1  NaN  1.0
2  3.0  NaN
3  NaN  NaN

In [15]:
#: Invert- any are true
test_df[test_df.notna().any(axis=1)]

   foo  bar
0  1.0  4.0
1  NaN  1.0
2  3.0  NaN

# WIP

In [18]:
#: Check if value is in index:
print(1 in iris.index)
print(1000 in iris.index)

#: Check if value in column
#: Wrong: 'in df['column']' checks if it's in the index of that series
print('setosa' in iris['species'])
#: Right: use ser.array to get a zero-copy reference of the underlying data 
#: https://dev.pandas.io/pandas-blog/pandas-extension-arrays.html
print('setosa' in iris['species'].array)
print('foo' in iris['species'].array)

True
False
False
True
False

In [19]:
# Get types
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [34]:
#: Properly extract a slice of an existing dataframe for additional processing
#: BAD: raw slice may just be creating a view
cleaned = iris[['sepal_length', 'sepal_width']]  #: is cleaned a new DataFrame object? Or just a view of the iris object?
#: Good: 
cleaned = iris.loc[:, ['sepal_length', 'sepal_width']].copy()  #: explicitely copies the slice to a new object
#: Also: using .loc to get multiple columns as dataframe
#: .loc[rows, cols]
#: .loc[:, ['a', 'b']] = all rows, columns defined by list ['a', 'b']

# Apply

In [3]:
df = pd.DataFrame({'A': 'a a b'.split(),
                   'B': [1,2,3],
                   'C': [4,6,5]})

## On a groupby group

.apply on a groupby grouping (`df.groupby(col).apply()`) takes a function that operates on the entire dataframe. The result of the function can be one of three things:
1. dataframe
1. series
1. scalar

In [14]:
g1 = df.groupby('A')
for gid, group in g1:
    print('-'*20)
    print(gid)
    print(group)

--------------------
a
   A  B  C
0  a  1  4
1  a  2  6
--------------------
b
   A  B  C
2  b  3  5

### 1: Returning a whole dataframe
If the function returns a **dataframe**, the recombine step concats the dataframes returned from each group into a new dataframe with the same row index as the original dataframe.

ie, give me a new value for every value in all the group dataframes with access to all the other values in each group dataframe.

In [9]:
g1.apply(lambda x: x / x.sum())  #: divide each element in the group by the sum of its column

          B    C
0  0.333333  0.4
1  0.666667  0.6
2  1.000000  1.0

### 2: Returning a series

If the function returns a **series**, it aggregates the values of each column (as a series) in the group into a scalar and then combines thee scalars into a series, one value per column. The series from each group are combined into a dataframe whose row index are the groups and columns are the elements of each series.

ie, give me a summary value for each column in each grouping dataframe

In [11]:
g1[['B', 'C']].apply(lambda x: x.astype(float).max() - x.min()) #: For each column in the group, return the max minus the minimum

     B    C
A
a  1.0  2.0
b  0.0  0.0

### 3: Returning a scalar

If the function returns a **scalar**, it calculates a single value for each group and then build a series whose index are the groups and elements are the new values for each group.

ie, give me a single summary value for each grouping dataframe

In [12]:
g1.apply(lambda x: x.C.max() - x.B.min())

A
a    5
b    2
dtype: int64

## On a DataFrame

Calling `.apply()` on a DataFrame will pass either every row (`axis=1`) or every column (`axis=0`) to the supplied function. 

Applying a [universal function](https://numpy.org/doc/stable/reference/ufuncs.html) ('a function that operates on ndarrays in an element-by-element fashion') results in a new DataFrame indexed the same as the original with the ufunc applied to every element.

In [16]:
df[['B', 'C']].apply(np.sqrt)  #: We need to subset down to just the numeric rows to take the square root

          B         C
0  1.000000  2.000000
1  1.414214  2.449490
2  1.732051  2.236068

A function that returns more than one value returns a collection (list, tuple, etc) by default. This single object is added to a series indexed off of the axis indices, which is then returned from `.apply()`.

In [15]:
df.apply(lambda series: (series['B']**2, series['C']**3), axis=1)

0     (1, 64)
1    (4, 216)
2    (9, 125)
dtype: object

This can instead be expanded into a dataframe using `result_type='expand'`. Because the resulting index matches the original dataframe, this dataframe can be concatted to the original either explicitely or by assigning the result to the appropriate number of columns (new or existing) in the original dataframe.

In [16]:
df.apply(lambda series: (series['B']**2, series['C']**3), axis=1, result_type='expand')

   0    1
0  1   64
1  4  216
2  9  125

In [18]:
new_df = df.copy()
new_df[['B2', 'C3']] = df.apply(lambda series: (series['B']**2, series['C']**3), axis=1, result_type='expand')
new_df

   A  B  C  B2   C3
0  a  1  4   1   64
1  a  2  6   4  216
2  b  3  5   9  125